In this notebook, you'll see how to connect to a Postgres database using the sqlalchemy library.

For this notebook, you'll need both the `sqlalchemy` and `psycopg2` libraries installed.

In [14]:
from sqlalchemy import create_engine

First, we need to create a connection string. The format is

 ```<dialect(+driver)>://<username>:<password>@<hostname>:<port>/<database>```

In [28]:
connection_prescribers = "postgres://postgres:postgres@localhost:5432/prescribers"

Now, we need to create an engine and use it to connect.

In [29]:
engine = create_engine(connection_prescribers)

Now, we can create our query and pass it into the `.query()` method.

In [54]:
query = '''
SELECT  drug.opioid_drug_flag, scribe.nppes_provider_gender, scribe.specialty_description,
SUM(script.total_claim_count) AS sum_script
FROM prescriber AS scribe
JOIN prescription AS script ON scribe.npi = script.npi
JOIN drug ON script.drug_name = drug.drug_name
GROUP BY scribe.nppes_provider_gender,scribe.specialty_description,drug.opioid_drug_flag
ORDER BY sum_script DESC
'''

result = engine.execute(query)

You can then fetch the results as tuples using either `fetchone` or `fetchall`:

On the other hand, sqlalchemy plays nicely with pandas.

In [31]:
import pandas as pd

In [55]:
prescribers = pd.read_sql(query, con = engine)
prescribers.head(15)

   opioid_drug_flag nppes_provider_gender specialty_description  sum_script
0                 N                     M       Family Practice   7722440.0
1                 N                     M     Internal Medicine   7449575.0
2                 N                     F    Nurse Practitioner   5829973.0
3                 N                     F       Family Practice   2209020.0
4                 N                     F     Internal Medicine   1912389.0
5                 N                     M            Cardiology   1697866.0
6                 N                     M    Nurse Practitioner    804128.0
7                 Y                     F    Nurse Practitioner    795799.0
8                 N                     F   Physician Assistant    710438.0
9                 N                     M            Psychiatry    633769.0
10                N                     M   Physician Assistant    571356.0
11                N                     M             Neurology    408896.0
12                N                     M      General Practice    395082.0
13                N                     M    Emergency Medicine    383883.0
14                N                     M         Ophthalmology    382600.0

In [42]:
prescribers.nppes_provider_state.unique()

array(['TN'], dtype=object)

In [ ]:
"""
Who are the top opioid prescribers for the state of Tennessee?
"""

For much more information about SQLAlchemy and to see a more “Pythonic” way to execute queries, see Introduction to Databases in Python: https://www.datacamp.com/courses/introduction-to-relational-databases-in-python