In [2]:
from sqlalchemy import create_engine
import pandas as pd

In [3]:
connection_string = "postgres://postgres:postgres@localhost:5432/prescribers"

In [4]:
engine = create_engine(connection_string)

### 4 (MATT) Is there an association between rates of opioid prescriptions and overdose deaths by county?

In [7]:
#Total claims per Generic Name
#!!! Need to combine rows with shared opioids
query = '''
SELECT SUM(p.total_claim_count)
    , d.generic_name
FROM prescription AS p 
INNER JOIN drug AS d
USING(drug_name)
WHERE d.opioid_drug_flag = 'Y'
GROUP BY generic_name
ORDER BY generic_name, sum;
'''

claims_per_generic = pd.read_sql(query, con = engine)
claims_per_generic

          sum                    generic_name
0     34694.0      ACETAMINOPHEN WITH CODEINE
1        34.0   ACETAMINOPHEN/CAFF/DIHYDROCOD
2      3315.0                   BUPRENORPHINE
3        62.0               BUPRENORPHINE HCL
4       289.0  BUTALBIT/ACETAMIN/CAFF/CODEINE
5      1145.0            BUTORPHANOL TARTRATE
6       117.0                 CODEINE SULFATE
7       369.0  CODEINE/BUTALBITAL/ASA/CAFFEIN
8     61557.0                        FENTANYL
9       967.0          HYDROCODONE BITARTRATE
10  1123543.0       HYDROCODONE/ACETAMINOPHEN
11     1178.0           HYDROCODONE/IBUPROFEN
12    10639.0               HYDROMORPHONE HCL
13      436.0                  MEPERIDINE HCL
14    14018.0                   METHADONE HCL
15   152956.0                MORPHINE SULFATE
16     3100.0     MORPHINE SULFATE/NALTREXONE
17   330650.0                   OXYCODONE HCL
18   456465.0     OXYCODONE HCL/ACETAMINOPHEN
19       45.0           OXYCODONE HCL/ASPIRIN
20     1064.0             OXYCODONE MYRISTATE
21    33249.0                 OXYMORPHONE HCL
22      236.0    PENTAZOCINE HCL/NALOXONE HCL
23     3043.0                  TAPENTADOL HCL
24   337765.0                    TRAMADOL HCL
25     5718.0      TRAMADOL HCL/ACETAMINOPHEN

In [23]:
#Find Counties by Zip Code
#!!! Need to window to find max tot_ratio per zip code
query = '''
SELECT zip, fipscounty, tot_ratio
    , RANK() OVER(PARTITION BY zip ORDER BY tot_ratio DESC) AS rank
FROM zip_fips
ORDER BY zip
LIMIT 20;
'''

claims_per_generic = pd.read_sql(query, con = engine)
claims_per_generic

      zip fipscounty  tot_ratio  rank
0   00501      36103   1.000000     1
1   00601      72001   0.837500     1
2   00601      72113   0.162500     2
3   00602      72003   0.999919     1
4   00602      72005   0.000081     2
5   00603      72005   0.997290     1
6   00603      72099   0.002454     2
7   00603      72071   0.000256     3
8   00604      72005   1.000000     1
9   00605      72005   1.000000     1
10  00606      72093   1.000000     1
11  00610      72011   1.000000     1
12  00611      72141   1.000000     1
13  00612      72013   0.993603     1
14  00612      72054   0.002818     2
15  00612      72065   0.002247     3
16  00612      72141   0.000952     4
17  00612      72017   0.000381     5
18  00613      72013   1.000000     1
19  00614      72013   1.000000     1

In [8]:
#Overdose deaths per county per year
query = '''
SELECT f.county
    , year
    , p.population
    , overdose_deaths
    , ROUND(overdose_deaths / population * 1000.0, 3) AS deaths_per_thousand
FROM overdose_deaths AS o
JOIN fips_county AS f
USING(fipscounty)
JOIN population AS p
USING(fipscounty)
ORDER BY deaths_per_thousand DESC;
'''

claims_per_generic = pd.read_sql(query, con = engine)
claims_per_generic

        county    year  population  overdose_deaths  deaths_per_thousand
0    TROUSDALE  2018.0      8773.0              7.0                0.798
1         CLAY  2016.0      7684.0              6.0                0.781
2     CHEATHAM  2017.0     39713.0             24.0                0.604
3     CHEATHAM  2018.0     39713.0             21.0                0.529
4    VAN BUREN  2016.0      5675.0              3.0                0.529
..         ...     ...         ...              ...                  ...
375      WAYNE  2017.0     16713.0              0.0                0.000
376    HAYWOOD  2015.0     17944.0              0.0                0.000
377    HAYWOOD  2017.0     17944.0              0.0                0.000
378      WHITE  2017.0     26394.0              0.0                0.000
379      PERRY  2018.0      7882.0              0.0                0.000

[380 rows x 5 columns]

In [10]:
#First attempt at combining
query = '''
WITH claims AS (
    SELECT p.npi
        , p.total_claim_count
        , d.generic_name
    FROM prescription AS p 
    INNER JOIN drug AS d
    USING(drug_name)
    WHERE d.opioid_drug_flag = 'Y';
)






SELECT f.county
    , year
    , p.population
    , overdose_deaths
    , ROUND(overdose_deaths / population * 1000.0, 3) AS deaths_per_thousand
FROM overdose_deaths AS o
JOIN fips_county AS f
USING(fipscounty)
JOIN population AS p
USING(fipscounty)
ORDER BY deaths_per_thousand DESC;
'''

claims_per_generic = pd.read_sql(query, con = engine)
claims_per_generic

                npi  total_claim_count                 generic_name
0      1.659798e+09              525.0  OXYCODONE HCL/ACETAMINOPHEN
1      1.003955e+09               79.0    HYDROCODONE/ACETAMINOPHEN
2      1.487942e+09               12.0    HYDROCODONE/ACETAMINOPHEN
3      1.295730e+09               26.0                 TRAMADOL HCL
4      1.316100e+09               12.0    HYDROCODONE/ACETAMINOPHEN
...             ...                ...                          ...
31927  1.376778e+09              241.0    HYDROCODONE/ACETAMINOPHEN
31928  1.558546e+09               22.0  OXYCODONE HCL/ACETAMINOPHEN
31929  1.942324e+09               13.0  OXYCODONE HCL/ACETAMINOPHEN
31930  1.700931e+09               12.0   ACETAMINOPHEN WITH CODEINE
31931  1.083002e+09               28.0  OXYCODONE HCL/ACETAMINOPHEN

[31932 rows x 3 columns]