In [3]:
from sqlalchemy import create_engine
import pandas as pd

In [4]:
connection_string = "postgres://postgres:postgres@localhost:5432/prescribers"

In [5]:
engine = create_engine(connection_string)

### 4 Is there an association between rates of opioid prescriptions and overdose deaths by county?
### 5 Is there any association between a particular type of opioid and number of overdose deaths?

In [133]:
query = '''
WITH zip_counties AS (
    SELECT zip
        , fipscounty
        , RANK() OVER(PARTITION BY zip ORDER BY tot_ratio DESC) AS rank
    FROM zip_fips
),
od_deaths AS (
    SELECT z.zip
        , f.fipscounty
        , f.county
        , p.population
        , overdose_deaths
    FROM overdose_deaths AS o 
    FULL JOIN fips_county AS f USING(fipscounty)
    FULL JOIN population AS p USING(fipscounty)
    FULL JOIN zip_counties AS z USING(fipscounty)
    WHERE year = 2017
    AND rank = 1
),
npis AS (
    SELECT p1.npi
        , p2.nppes_provider_zip5 AS zip
        , p1.total_claim_count
        , d.generic_name
        , CASE WHEN d.generic_name LIKE '%%CODEINE%%' THEN 'codeine'
            WHEN d.generic_name LIKE '%%FENTANYL%%' THEN 'fentanyl'
            WHEN d.generic_name LIKE '%%HYDROCODONE%%' THEN 'hydrocodone'
            WHEN d.generic_name LIKE '%%MORPHINE%%' THEN 'morphine'
            WHEN d.generic_name LIKE '%%OXYCODONE%%' THEN 'oxycodone'
            WHEN d.generic_name LIKE '%%OXYMORPHONE%%' THEN 'oxymorphone'
            WHEN d.generic_name LIKE '%%TRAMADOL%%' THEN 'tramadol'
            ELSE 'other' END 
            AS opioid
    FROM prescription AS p1
    FULL JOIN drug AS d
    USING(drug_name)
    FULL JOIN  prescriber AS p2
    USING (npi)
    WHERE d.opioid_drug_flag = 'Y'
),
npi_opioids AS (
    SELECT npi, zip, SUM(total_claim_count) AS claims, opioid
    FROM npis
    GROUP BY npi, zip, opioid
)
SELECT od.county
    , od.population
    , od.overdose_deaths
    , SUM(n. claims) AS claims_per_county
    , n.opioid
FROM od_deaths AS od
FULL JOIN npi_opioids AS n
USING (zip)
GROUP BY 1, 2, 3, 5
'''

claims_per_opioid = pd.read_sql(query, con = engine)
claims_per_opioid

       county  population  overdose_deaths  claims_per_county       opioid
0    ANDERSON     75538.0             34.0              694.0      codeine
1    ANDERSON     75538.0             34.0              498.0     fentanyl
2    ANDERSON     75538.0             34.0            14227.0  hydrocodone
3    ANDERSON     75538.0             34.0             1971.0     morphine
4    ANDERSON     75538.0             34.0               49.0        other
..        ...         ...              ...                ...          ...
784      None         NaN              NaN               30.0     morphine
785      None         NaN              NaN                NaN        other
786      None         NaN              NaN             1332.0    oxycodone
787      None         NaN              NaN               17.0  oxymorphone
788      None         NaN              NaN              292.0     tramadol

[789 rows x 5 columns]

## Double check and Dig into Data

In [134]:
claims_per_opioid['county'].value_counts().sort_values().tail(5)

ROBERTSON     9
GILES         9
HARDIN        9
WASHINGTON    9
BRADLEY       9
Name: county, dtype: int64

In [135]:
claims_per_opioid[claims_per_opioid['county'] == 'ROBERTSON']

        county  population  overdose_deaths  claims_per_county       opioid
601  ROBERTSON     68575.0             15.0              273.0      codeine
602  ROBERTSON     68575.0             15.0              502.0     fentanyl
603  ROBERTSON     68575.0             15.0             8790.0  hydrocodone
604  ROBERTSON     68575.0             15.0             1557.0     morphine
605  ROBERTSON     68575.0             15.0              228.0        other
606  ROBERTSON     68575.0             15.0             5144.0    oxycodone
607  ROBERTSON     68575.0             15.0              152.0  oxymorphone
608  ROBERTSON     68575.0             15.0             2543.0     tramadol
609  ROBERTSON     68575.0             15.0                NaN         None

In [141]:
claims_per_opioid[claims_per_opioid['opioid'] == 'codeine'].tail(49)

         county  population  overdose_deaths  claims_per_county   opioid
362     JACKSON     11573.0              2.0               13.0  codeine
370   JEFFERSON     52887.0              7.0              200.0  codeine
379     JOHNSON     17846.0              1.0              246.0  codeine
387        KNOX    452286.0            196.0             2904.0  codeine
401  LAUDERDALE     26497.0              2.0               32.0  codeine
409    LAWRENCE     42591.0              7.0              162.0  codeine
418       LEWIS     11944.0              2.0              145.0  codeine
422     LINCOLN     33543.0              4.0               27.0  codeine
431      LOUDON     51024.0             18.0              120.0  codeine
440       MACON     23239.0              2.0               61.0  codeine
448     MADISON     97887.0             12.0             1040.0  codeine
457      MARION     28355.0              2.0               37.0  codeine
465    MARSHALL     31753.0              6.0               64.0  codeine
474       MAURY     87606.0             12.0              278.0  codeine
483     MC MINN     52569.0              6.0              355.0  codeine
492    MC NAIRY     25945.0              3.0              258.0  codeine
506      MONROE     45698.0              5.0              264.0  codeine
515  MONTGOMERY    192120.0             22.0              359.0  codeine
528      MORGAN     21639.0              3.0               11.0  codeine
536       OBION     30659.0              0.0              118.0  codeine
545     OVERTON     21995.0              5.0              270.0  codeine
553       PERRY      7882.0              1.0              145.0  codeine
560     PICKETT      5071.0              1.0               89.0  codeine
567        POLK     16722.0              2.0               29.0  codeine
575      PUTNAM     75565.0             10.0              252.0  codeine
584        RHEA     32478.0              4.0              202.0  codeine
593       ROANE     52926.0             16.0              780.0  codeine
601   ROBERTSON     68575.0             15.0              273.0  codeine
610  RUTHERFORD    298456.0             48.0              297.0  codeine
619       SCOTT     21949.0              2.0              178.0  codeine
628  SEQUATCHIE     14654.0              3.0               30.0  codeine
633      SEVIER     95523.0             24.0              150.0  codeine
642      SHELBY    937847.0            159.0             6948.0  codeine
651       SMITH     19279.0              2.0              131.0  codeine
660     STEWART     13248.0              0.0               27.0  codeine
666    SULLIVAN    156519.0             29.0              823.0  codeine
675      SUMNER    175730.0             28.0              801.0  codeine
684      TIPTON     61434.0             12.0              267.0  codeine
699      UNICOI     17830.0              7.0               35.0  codeine
706       UNION     19176.0              4.0              223.0  codeine
715   VAN BUREN      5675.0              0.0               50.0  codeine
721      WARREN     40210.0              1.0              213.0  codeine
729  WASHINGTON    126437.0             24.0              647.0  codeine
738       WAYNE     16713.0              0.0              108.0  codeine
746     WEAKLEY     33776.0              1.0              428.0  codeine
755       WHITE     26394.0              0.0              511.0  codeine
763  WILLIAMSON    212161.0             24.0              223.0  codeine
772      WILSON    128874.0             26.0              178.0  codeine
781        None         NaN              NaN               45.0  codeine

### Questions:
What's with the 45 claims not assigned to a county?
The following counties were removed (OD deaths): Grundy (1), Lake (0), Meigs (2), Moore (1), Trousdale (2)
Are they connected?

In [ ]:
claims_per_opioid.to_csv('claims_per_opioid.csv')

### Practice Queries - no longer needed, but afraid to delete...

In [111]:
#Total claims per Generic Name
#!!! Need to combine rows with shared opioids
query = '''
SELECT SUM(p.total_claim_count)
    , d.generic_name
    , CASE WHEN d.generic_name LIKE '%%CODEINE%%' THEN 'codeine'
        WHEN d.generic_name LIKE '%%FENTANYL%%' THEN 'fentanyl'
        WHEN d.generic_name LIKE '%%HYDROCODONE%%' THEN 'hydrocodone'
        WHEN d.generic_name LIKE '%%MORPHINE%%' THEN 'morphine'
        WHEN d.generic_name LIKE '%%OXYCODONE%%' THEN 'oxycodone'
        WHEN d.generic_name LIKE '%%OXYMORPHONE%%' THEN 'oxymorphone'
        WHEN d.generic_name LIKE '%%TRAMADOL%%' THEN 'tramadol'
        ELSE 'other' END 
        AS opioid
FROM prescription AS p 
INNER JOIN drug AS d
USING(drug_name)
WHERE d.opioid_drug_flag = 'Y'
GROUP BY generic_name
ORDER BY generic_name, sum;
'''

claims_per_opioid = pd.read_sql(query, con = engine)
claims_per_opioid

          sum                    generic_name       opioid
0     34694.0      ACETAMINOPHEN WITH CODEINE      codeine
1        34.0   ACETAMINOPHEN/CAFF/DIHYDROCOD        other
2      3315.0                   BUPRENORPHINE        other
3        62.0               BUPRENORPHINE HCL        other
4       289.0  BUTALBIT/ACETAMIN/CAFF/CODEINE      codeine
5      1145.0            BUTORPHANOL TARTRATE        other
6       117.0                 CODEINE SULFATE      codeine
7       369.0  CODEINE/BUTALBITAL/ASA/CAFFEIN      codeine
8     61557.0                        FENTANYL     fentanyl
9       967.0          HYDROCODONE BITARTRATE  hydrocodone
10  1123543.0       HYDROCODONE/ACETAMINOPHEN  hydrocodone
11     1178.0           HYDROCODONE/IBUPROFEN  hydrocodone
12    10639.0               HYDROMORPHONE HCL        other
13      436.0                  MEPERIDINE HCL        other
14    14018.0                   METHADONE HCL        other
15   152956.0                MORPHINE SULFATE     morphine
16     3100.0     MORPHINE SULFATE/NALTREXONE     morphine
17   330650.0                   OXYCODONE HCL    oxycodone
18   456465.0     OXYCODONE HCL/ACETAMINOPHEN    oxycodone
19       45.0           OXYCODONE HCL/ASPIRIN    oxycodone
20     1064.0             OXYCODONE MYRISTATE    oxycodone
21    33249.0                 OXYMORPHONE HCL  oxymorphone
22      236.0    PENTAZOCINE HCL/NALOXONE HCL        other
23     3043.0                  TAPENTADOL HCL        other
24   337765.0                    TRAMADOL HCL     tramadol
25     5718.0      TRAMADOL HCL/ACETAMINOPHEN     tramadol

In [107]:
#Overdose deaths per county per year
query = '''
SELECT f.fipscounty
    , f.county
    , p.population
    , overdose_deaths
    , ROUND(overdose_deaths / population * 1000.0, 3) AS deaths_per_thousand
FROM overdose_deaths AS o
JOIN fips_county AS f
USING(fipscounty)
JOIN population AS p
USING(fipscounty)
WHERE year = 2017
ORDER BY deaths_per_thousand DESC;
'''

od_deaths = pd.read_sql(query, con = engine)
od_deaths.head()

  fipscounty    county  population  overdose_deaths  deaths_per_thousand
0      47021  CHEATHAM     39713.0             24.0                0.604
1      47067   HANCOCK      6605.0              3.0                0.454
2      47001  ANDERSON     75538.0             34.0                0.450
3      47093      KNOX    452286.0            196.0                0.433
4      47171    UNICOI     17830.0              7.0                0.393

In [108]:
#Total claims per Generic Name
#!!! Need to combine rows with shared opioids
query = '''
SELECT p1.npi
    , p2.nppes_provider_zip5 AS zip
    , p1.total_claim_count
    , d.generic_name
    , CASE WHEN d.generic_name LIKE '%%CODEINE%%' THEN 'codeine'
        WHEN d.generic_name LIKE '%%FENTANYL%%' THEN 'fentanyl'
        WHEN d.generic_name LIKE '%%HYDROCODONE%%' THEN 'hydrocodone'
        WHEN d.generic_name LIKE '%%MORPHINE%%' THEN 'morphine'
        WHEN d.generic_name LIKE '%%OXYCODONE%%' THEN 'oxycodone'
        WHEN d.generic_name LIKE '%%OXYMORPHONE%%' THEN 'oxymorphone'
        WHEN d.generic_name LIKE '%%TRAMADOL%%' THEN 'tramadol'
        ELSE 'other' END 
        AS opioid
FROM prescription AS p1
INNER JOIN drug AS d
USING(drug_name)
INNER JOIN  prescriber AS p2
USING (npi)
WHERE d.opioid_drug_flag = 'Y'
'''

claims_per_opioid = pd.read_sql(query, con = engine)
claims_per_opioid.head()

,npi,zip,total_claim_count,generic_name,opioid
0,1.659798e+09,37311,525.0,OXYCODONE HCL/ACETAMINOPHEN,oxycodone
1,1.003955e+09,37421,79.0,HYDROCODONE/ACETAMINOPHEN,hydrocodone
2,1.316100e+09,37660,12.0,HYDROCODONE/ACETAMINOPHEN,hydrocodone
3,1.952795e+09,37804,13.0,FENTANYL,fentanyl
4,1.851339e+09,37604,19.0,HYDROCODONE/ACETAMINOPHEN,hydrocodone

In [110]:
#Find Counties by Zip Code
#!!! Need to window to find max tot_ratio per zip code
query = '''
SELECT zip, fipscounty, tot_ratio
    , RANK() OVER(PARTITION BY zip ORDER BY tot_ratio DESC) AS rank
FROM zip_fips
ORDER BY zip;
'''

zip_counties = pd.read_sql(query, con = engine)
zip_counties.head(20)

      zip fipscounty  tot_ratio  rank
0   00501      36103   1.000000     1
1   00601      72001   0.837500     1
2   00601      72113   0.162500     2
3   00602      72003   0.999919     1
4   00602      72005   0.000081     2
5   00603      72005   0.997290     1
6   00603      72099   0.002454     2
7   00603      72071   0.000256     3
8   00604      72005   1.000000     1
9   00605      72005   1.000000     1
10  00606      72093   1.000000     1
11  00610      72011   1.000000     1
12  00611      72141   1.000000     1
13  00612      72013   0.993603     1
14  00612      72054   0.002818     2
15  00612      72065   0.002247     3
16  00612      72141   0.000952     4
17  00612      72017   0.000381     5
18  00613      72013   1.000000     1
19  00614      72013   1.000000     1

In [ ]:
#First attempt at combining
##I will ultimately be able to drop zip from SELECT - I will just need it to join.
query = '''
WITH zip_counties AS (
    SELECT zip
        , fipscounty
        , tot_ratio
        , RANK() OVER(PARTITION BY zip ORDER BY tot_ratio DESC) AS rank
    FROM zip_fips
),
od_deaths AS (
    SELECT f.fipscounty
        , f.county
        , p.population
        , overdose_deaths
        , ROUND(overdose_deaths / population * 1000.0, 3) AS deaths_per_thousand
    FROM overdose_deaths AS o
    JOIN fips_county AS f
    USING(fipscounty)
    JOIN population AS p
    USING(fipscounty)
    WHERE year = 2017
)
SELECT z.zip
    , o.county
    , o.population
    , o.overdose_deaths
    , o.deaths_per_thousand
FROM zip_counties AS z
JOIN od_deaths AS o
USING(fipscounty)
WHERE z.rank = 1
'''

claims_per_generic = pd.read_sql(query, con = engine)
claims_per_generic

In [68]:
query = '''
WITH opioids_per_npi AS (
    SELECT p1.npi
        , p2.nppes_provider_zip5 AS zip
        , p1.total_claim_count
        , d.generic_name
        , CASE WHEN d.generic_name LIKE '%%CODEINE%%' THEN 'codeine'
            WHEN d.generic_name LIKE '%%FENTANYL%%' THEN 'fentanyl'
            WHEN d.generic_name LIKE '%%HYDROCODONE%%' THEN 'hydrocodone'
            WHEN d.generic_name LIKE '%%MORPHINE%%' THEN 'morphine'
            WHEN d.generic_name LIKE '%%OXYCODONE%%' THEN 'oxycodone'
            WHEN d.generic_name LIKE '%%OXYMORPHONE%%' THEN 'oxymorphone'
            WHEN d.generic_name LIKE '%%TRAMADOL%%' THEN 'tramadol'
            ELSE 'other' END 
            AS opioid
    FROM prescription AS p1
    INNER JOIN drug AS d
    USING(drug_name)
    INNER JOIN  prescriber AS p2
    USING (npi)
    WHERE d.opioid_drug_flag = 'Y'
)
SELECT npi, zip, SUM(total_claim_count) AS claims, opioid
FROM opioids_per_npi
GROUP BY npi, zip, opioid
'''

claims_per_opioid = pd.read_sql(query, con = engine)
claims_per_opioid

                npi    zip  claims       opioid
0      1.003013e+09  37043   121.0  hydrocodone
1      1.003013e+09  37043    15.0     morphine
2      1.003013e+09  37043    29.0        other
3      1.003013e+09  37043   100.0    oxycodone
4      1.003013e+09  37043    50.0     tramadol
...             ...    ...     ...          ...
26943  1.992994e+09  37604    74.0    oxycodone
26944  1.992996e+09  37403    25.0  hydrocodone
26945  1.992996e+09  37403    44.0    oxycodone
26946  1.993000e+09  38119    42.0  hydrocodone
26947  1.993000e+09  38119    12.0    oxycodone

[26948 rows x 4 columns]

In [81]:
query = '''
WITH zip_counties AS (
    SELECT zip
        , fipscounty
        , tot_ratio
        , RANK() OVER(PARTITION BY zip ORDER BY tot_ratio DESC) AS rank
    FROM zip_fips
),
od_deaths AS (
    SELECT z.zip
        , f.fipscounty
        , f.county
        , p.population
        , overdose_deaths
        , ROUND(overdose_deaths / population * 1000.0, 3) AS deaths_per_thousand
    FROM overdose_deaths AS o 
    JOIN fips_county AS f USING(fipscounty)
    JOIN population AS p USING(fipscounty)
    JOIN zip_counties AS z USING(fipscounty)
    WHERE year = 2017
    AND rank = 1
)
SELECT zip
    , county
    , population
    , overdose_deaths
    , deaths_per_thousand
FROM od_deaths
'''

claims_per_opioid = pd.read_sql(query, con = engine)
claims_per_opioid

       zip      county  population  overdose_deaths  deaths_per_thousand
0    37010  MONTGOMERY    192120.0             22.0                0.115
1    37011    DAVIDSON    678322.0            184.0                0.271
2    37012     DE KALB     19380.0              7.0                0.361
3    37013    DAVIDSON    678322.0            184.0                0.271
4    37014  WILLIAMSON    212161.0             24.0                0.113
..     ...         ...         ...              ...                  ...
755  38585   VAN BUREN      5675.0              0.0                0.000
756  38587       WHITE     26394.0              0.0                0.000
757  38588     JACKSON     11573.0              2.0                0.173
758  38589    FENTRESS     17940.0              1.0                0.056
759  42223  MONTGOMERY    192120.0             22.0                0.115

[760 rows x 5 columns]