<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In this notebook, you'll see how to connect to a Postgres database using the sqlalchemy library.

For this notebook, you'll need both the `sqlalchemy` and `psycopg2` libraries installed.

In [1]:
from sqlalchemy import create_engine

First, we need to create a connection string. The format is

 ```<dialect(+driver)>://<username>:<password>@<hostname>:<port>/<database>```

In [2]:
connection_string = "postgres://username:password@localhost:5432/prescribers"

Now, we need to create an engine and use it to connect.

In [3]:
engine = create_engine(connection_string)

Now, we can create our query and pass it into the `.query()` method.

In [4]:
query = '''
SELECT *
FROM prescriber
LIMIT 100;
'''

result = engine.execute(query)

You can then fetch the results as tuples using either `fetchone` or `fetchall`:

In [5]:
result.fetchone()

(Decimal('1003000282'), 'BLAKEMORE', 'ROSIE', 'K', 'FNP', 'F', 'I', 'TENNESSEE PRISON FOR WOMEN', '3881 STEWARTS LANE', 'NASHVILLE', '37243', '0001', 'TN', 'US', 'Nurse Practitioner', 'S', 'N')

In [6]:
result.fetchall()

[(Decimal('1003012022'), 'CUDZILO', 'COREY', None, 'M.D.', 'M', 'I', '2240 SUTHERLAND AVE', 'SUITE 103', 'KNOXVILLE', '37919', '2333', 'TN', 'US', 'Pulmonary Disease', 'S', 'E'),
 (Decimal('1003013160'), 'GRABENSTEIN', 'WILLIAM', 'P', 'M.D.', 'M', 'I', '1822 MEMORIAL DR', None, 'CLARKSVILLE', '37043', '4605', 'TN', 'US', 'Family Practice', 'S', 'E'),
 (Decimal('1003013947'), 'OTTO', 'ROBERT', 'J', 'M.D.', 'M', 'I', '2400 PATTERSON STREET SUITE 100', None, 'NASHVILLE', '37203', '2786', 'TN', 'US', 'Orthopedic Surgery', 'S', 'E'),
 (Decimal('1003017963'), 'TODD', 'JOSHUA', 'W', 'M.D.', 'M', 'I', '1819 W CLINCH AVE', 'SUITE 108', 'KNOXVILLE', '37916', '2435', 'TN', 'US', 'Cardiology', 'S', 'E'),
 (Decimal('1003077728'), 'KAISER', 'CLAYTON', 'A', 'M.D.', 'M', 'I', '1215 21ST AVE S', None, 'NASHVILLE', '37232', '0014', 'TN', 'US', 'Cardiac Surgery', 'S', 'E'),
 (Decimal('1003019902'), 'ACOSTA', 'LEALANI', 'M', 'MD', 'F', 'I', '3601 TVC', None, 'NASHVILLE', '37232', '0001', 'TN', 'US', 'Neurology', 'S', 'E'),
 (Decimal('1003025172'), 'PISH', 'CHRISTINA', 'M', 'O.D.', 'F', 'I', '5764 HIGHWAY 153', None, 'HIXSON', '37343', '3727', 'TN', 'US', 'Optometry', 'S', 'E'),
 (Decimal('1003031261'), 'RUBRIGHT', 'JAMES', 'H', 'M.D.', 'M', 'I', '345 23RD AVE N', 'SUITE 212', 'NASHVILLE', '37203', '1513', 'TN', 'US', 'Hand Surgery', 'S', 'E'),
 (Decimal('1003034851'), 'GUST', 'AMY', 'L', 'M.D.', 'F', 'I', '675 MIDDLE CREEK RD', None, 'SEVIERVILLE', '37862', '5014', 'TN', 'US', 'Family Practice', 'S', 'E'),
 (Decimal('1003041641'), 'KEEL', 'BRADLEY', 'R', 'DO', 'M', 'I', '2525 DESALES AVE', None, 'CHATTANOOGA', '37404', '1161', 'TN', 'US', 'Internal Medicine', 'S', 'E'),
 (Decimal('1003043043'), 'MUDDASSIR', 'KHAWAJA', 'M', 'MD', 'M', 'I', '1325 EASTMORELAND AVE', 'SUITE 370', 'MEMPHIS', '38104', '3519', 'TN', 'US', 'Pulmonary Disease', 'S', 'E'),
 (Decimal('1003044033'), 'BENSON', 'CHARLES', 'D', 'MD', 'M', 'I', '90 VERMONT AVE', 'SUITE 300', 'OAK RIDGE', '37830', '6474', 'TN', 'US', 'Orthopedic Surgery', 'S', 'E'),
 (Decimal('1003045097'), 'KIM', 'ELIJAH', None, 'M.D.', 'M', 'I', '6027 WALNUT GROVE RD STE 319', None, 'MEMPHIS', '38120', None, 'TN', 'US', 'General Surgery', 'S', 'E'),
 (Decimal('1003048810'), 'HUDDLESTON', 'PATRICIA', 'M', 'NP', 'F', 'I', '1940 ALCOA HWY', 'STE 180', 'KNOXVILLE', '37920', '2244', 'TN', 'US', 'Nurse Practitioner', 'S', 'E'),
 (Decimal('1003057068'), 'COX', 'ALAN', None, 'MD', 'M', 'I', '2603 AVONDALE DR', None, 'JOHNSON CITY', '37604', '1902', 'TN', 'US', 'Internal Medicine', 'S', 'E'),
 (Decimal('1003057167'), 'JONES', 'SARA', 'A', 'ANP', 'F', 'I', '1926 ALCOA HWY STE 410', None, 'KNOXVILLE', '37920', '1545', 'TN', 'US', 'Nurse Practitioner', 'S', 'E'),
 (Decimal('1003063314'), 'HOLLIDAY', 'LYNN', None, 'M.D.', 'F', 'I', '3601 THE VANDERBILT CLINIC', None, 'NASHVILLE', '37232', '0001', 'TN', 'US', 'Family Practice', 'S', 'E'),
 (Decimal('1003066846'), 'YOUNIS', 'NAVEED', None, 'M.D.', 'M', 'I', '17 CENTRE PLAZA DR', None, 'JACKSON', '38305', '2862', 'TN', 'US', 'Cardiology', 'S', 'E'),
 (Decimal('1003071333'), 'NATHAN', 'JAYASHREE', 'R', 'MD', 'F', 'I', '1005 DR. D.B. TODD JR. BLVD.', None, 'NASHVILLE', '37208', None, 'TN', 'US', 'Family Practice', 'S', 'E'),
 (Decimal('1003072059'), 'BLASICK', 'PATRICIA', 'D', 'PA', 'F', 'I', '1508 TOMBRAS AVE', None, 'EAST RIDGE', '37412', '2720', 'TN', 'US', 'Physician Assistant', 'S', 'E'),
 (Decimal('1003072273'), 'HUGGINS', 'SANDRA', 'C', 'FNP-BC', 'F', 'I', '1874 DECATUR PIKE', 'FAST PACE URGENT CARE', 'ATHENS', '37303', '4922', 'TN', 'US', 'Nurse Practitioner', 'S', 'E'),
 (Decimal('1003075862'), 'ANDERSON', 'AKASHIA', None, 'M.D.', 'F', 'I', '211 HERITAGE PARK DR', None, 'MURFREESBORO', '37129', '1557', 'TN', 'US', 'Family Practice', 'S', 'E'),
 (Decimal('1003077108'), 'DOHERTY', 'S', 'A', None, 'M', 'I', '107 NEW BRICK CHURCH PIKE', 'SUITE C', 'GOODLETTSVILLE', '37072', '1545', 'TN', 'US', 'Dentist', 'S', 'N'),
 (Decimal('1003078486'), 'EBLE', 'MICHEAL', 'T', 'DDS', 'M', 'I', '128 HOLIDAY CT', 'SUITE 117', 'FRANKLIN', '37067', '3061', 'TN', 'US', 'Dentist', 'T', 'N'),
 (Decimal('1003089129'), 'DAVIDSON', 'TABITHA', 'S', 'NP', 'F', 'I', '105 W STONE DR', '4C', 'KINGSPORT', '37660', '3256', 'TN', 'US', 'Nurse Practitioner', 'S', 'E'),
 (Decimal('1003101684'), 'DAVIS', 'PATRICK', None, 'M.D.', 'M', 'I', '1222 TROTWOOD AVE STE 603', None, 'COLUMBIA', '38401', None, 'TN', 'US', 'General Surgery', 'S', 'E'),
 (Decimal('1003090424'), 'BAXTER', 'TAMMY', 'M', 'M.D.', 'F', 'I', '2400 PATTERSON ST', 'SUITE 215', 'NASHVILLE', '37203', '1562', 'TN', 'US', 'Cardiac Surgery', 'S', 'E'),
 (Decimal('1003097593'), 'PATEL', 'MEHUL', 'B', 'MD', 'M', 'I', '7460 WOLF RIVER BLVD', None, 'GERMANTOWN', '38138', '1760', 'TN', 'US', 'Interventional Cardiology', 'S', 'E'),
 (Decimal('1003097627'), 'MORISON', 'MARK', 'E', 'D.D.S.', 'M', 'I', '1258 E CENTER ST', None, 'KINGSPORT', '37660', '4947', 'TN', 'US', 'Dentist', 'T', 'N'),
 (Decimal('1003098963'), 'VICK', 'ROSE', 'B', 'ARNP', 'F', 'I', '3601 THE VANDERBILT CLINIC', None, 'NASHVILLE', '37232', '3700', 'TN', 'US', 'Nurse Practitioner', 'S', 'E'),
 (Decimal('1003104571'), 'PEVELER', 'DEREK', 'S', 'O.D.', 'M', 'I', '313 E MAIN ST', 'SUITE 4', 'HENDERSONVILLE', '37075', '3898', 'TN', 'US', 'Optometry', 'S', 'E'),
 (Decimal('1003110016'), 'SCOTT', 'AARON', 'W', 'APN', 'M', 'I', '411 MURFREESBORO PIKE', None, 'NASHVILLE', '37210', '2838', 'TN', 'US', 'Nurse Practitioner', 'S', 'E'),
 (Decimal('1003111071'), 'NWOKOCHAH', 'GOLD', None, None, 'F', 'I', '100 GLEN OAK BLVD', None, 'HENDERSONVILLE', '37075', '3025', 'TN', 'US', 'Nurse Practitioner', 'S', 'E'),
 (Decimal('1003112277'), 'SMITH', 'TABITHA', 'M', 'F.N.P.-C', 'F', 'I', '89 MEARS DRIVE', None, 'WOODBURY', '37190', '1441', 'TN', 'US', 'Nurse Practitioner', 'S', 'E'),
 (Decimal('1003113200'), 'AWASTHI', 'DISHA', None, 'MD', 'F', 'I', '102 WESSINGTON PL', None, 'HENDERSONVILLE', '37075', '3085', 'TN', 'US', 'Pulmonary Disease', 'S', 'E'),
 (Decimal('1003113606'), 'SALLEY', 'SETH', 'A', 'O.D.', 'M', 'I', '825 RIDGE LAKE BLVD', None, 'MEMPHIS', '38120', '9411', 'TN', 'US', 'Optometry', 'S', 'E'),
 (Decimal('1003114737'), 'HILL', 'ELISHA', 'F', 'FNP-BC', 'F', 'I', '353 NEW SHACKLE ISLAND RD', '141 C', 'HENDERSONVILLE', '37075', '2379', 'TN', 'US', 'Nurse Practitioner', 'S', 'E'),
 (Decimal('1003128372'), 'ELKATTAH', 'RAYAN', 'A', 'M.D.', 'M', 'I', '979 E 3RD ST', 'SUITE C-728', 'CHATTANOOGA', '37403', '2136', 'TN', 'US', 'Obstetrics & Gynecology', 'S', 'E'),
 (Decimal('1003128893'), 'PICKETT', 'KIMBERLY', 'L', 'M.D.', 'F', 'I', '5600 BRAINERD RD', 'SUITE H-100', 'CHATTANOOGA', '37411', '5310', 'TN', 'US', 'Family Practice', 'S', 'E'),
 (Decimal('1003132077'), 'KIERNAN', 'COLLEEN', 'M', 'M.D.', 'F', 'I', '209 LIGHT HL', None, 'NASHVILLE', '37232', '0001', 'TN', 'US', 'Student in an Organized Health Care Education/Training Program', 'T', 'N'),
 (Decimal('1003139502'), 'PAYNE', 'RACHEL', None, 'NP', 'F', 'I', '300 PROSPERITY RD', 'SUITE 103', 'KNOXVILLE', '37923', '4717', 'TN', 'US', 'Nurse Practitioner', 'S', 'E'),
 (Decimal('1003149147'), 'RIGGS', 'JONATHAN', None, 'PA', 'M', 'I', '206 BEDFORD WAY', None, 'FRANKLIN', '37064', '5526', 'TN', 'US', 'Physician Assistant', 'S', 'E'),
 (Decimal('1003149568'), 'SUD', 'PAMELA', 'R', 'MD', 'F', 'I', '725 GLENWOOD DRIVE', 'SUITE E-500', 'CHATTANOOGA', '37404', None, 'TN', 'US', 'Internal Medicine', 'S', 'E'),
 (Decimal('1003151168'), 'HAMPTON', 'ELIZABETH', 'R', 'ADULT NURSE PRACTITI', 'F', 'I', '3000 PRESTON STATION DR', None, 'HIXSON', '37343', '3300', 'TN', 'US', 'Nurse Practitioner', 'S', 'E'),
 (Decimal('1003153743'), 'MITCHELL', 'JESSICA', None, 'PA-C', 'F', 'I', '353 NEW SHACKLE ISLAND RD', None, 'HENDERSONVILLE', '37075', None, 'TN', 'US', 'Physician Assistant', 'S', 'E'),
 (Decimal('1003932674'), 'GILL', 'LESTER', 'S', 'D.D.S., M.S.', 'M', 'I', '105 LEE PARKWAY DR', 'SUITE B', 'CHATTANOOGA', '37421', '6708', 'TN', 'US', 'Dentist', 'T', 'N'),
 (Decimal('1003161068'), 'ROY', 'DAWN', 'M', 'FNP-BC', 'F', 'I', '2305 N GATEWAY AVE UNIT 2', None, 'HARRIMAN', '37748', None, 'TN', 'US', 'Nurse Practitioner', 'S', 'N'),
 (Decimal('1003162637'), 'ANKIREDDYPALLI', 'ARVIND', 'R', 'M.D.', 'M', 'I', '1325 EASTMORELAND AVE STE 150', None, 'MEMPHIS', '38104', '3555', 'TN', 'US', 'Family Practice', 'S', 'E'),
 (Decimal('1003162769'), 'HAMLIN', 'DAVID', 'M', 'PA-C', 'M', 'I', '189 MOUNT PELIA RD', None, 'MARTIN', '38237', '3811', 'TN', 'US', 'Physician Assistant', 'S', 'E'),
 (Decimal('1003165838'), 'MARKS', 'HEATHER', 'L', 'NP', 'F', 'I', '1272 GARRISON DR', None, 'MURFREESBORO', '37129', '2598', 'TN', 'US', 'Nurse Practitioner', 'S', 'E'),
 (Decimal('1003171810'), 'GABA', 'ASHOKKUMAR', 'H', 'MD', 'M', 'I', '325 N STATE OF FRANKLIN RD', 'SECOND FLOOR', 'JOHNSON CITY', '37604', '6056', 'TN', 'US', 'Internal Medicine', 'S', 'E'),
 (Decimal('1003172040'), 'MEADOWS', 'CYNTHIA', 'G', 'NP', 'F', 'I', '1926 ALCOA HWY BLDG F STE 380', None, 'KNOXVILLE', '37920', '1545', 'TN', 'US', 'Nurse Practitioner', 'S', 'E'),
 (Decimal('1003174350'), 'GOINS', 'ANDREW', 'D', 'DO', 'M', 'I', '9330 PARK WEST BLVD', 'STE 402', 'KNOXVILLE', '37923', '4308', 'TN', 'US', 'Internal Medicine', 'S', 'E'),
 (Decimal('1003179334'), 'VOLNER', 'JOSEPH', 'A', 'D.D.S.', 'M', 'I', '6500 STAGE RD', 'SUITE 1', 'BARTLETT', '38134', '2882', 'TN', 'US', 'Dentist', 'S', 'E'),
 (Decimal('1003182239'), 'KECK', 'MAGGIE', 'E', 'FNP', 'F', 'I', '907 E LAMAR ALEXANDER PKWY', None, 'MARYVILLE', '37804', '5015', 'TN', 'US', 'Nurse Practitioner', 'S', 'E'),
 (Decimal('1003189309'), 'SHOEMAKER', 'ALISHA', 'L', 'APN', 'F', 'I', '20445 ALBERTA ST', None, 'ONEIDA', '37841', '3509', 'TN', 'US', 'Nurse Practitioner', 'S', 'E'),
 (Decimal('1003194044'), 'ROBERTSON', 'TASMA', 'G', 'NP-C', 'F', 'I', '1440 UNION SPRINGS RD', None, 'WHITEVILLE', '38075', '7526', 'TN', 'US', 'Nurse Practitioner', 'S', 'E'),
 (Decimal('1003196429'), 'BUSSELL', 'SCOTTIE', 'A', 'MD,MPH', 'M', 'I', '1005 DR DB TODD JR BLVD', None, 'NASHVILLE', '37208', '3501', 'TN', 'US', 'Family Practice', 'S', 'N'),
 (Decimal('1003198359'), 'MEADOWS', 'PETER', None, 'M.D.', 'M', 'I', '1700 MEDICAL CENTER PKWY', None, 'MURFREESBORO', '37129', '2245', 'TN', 'US', 'Internal Medicine', 'S', 'E'),
 (Decimal('1003199282'), 'LEINART', 'EVA', None, 'MD', 'F', 'I', '1700 MEDICAL CENTER PKWY', None, 'MURFREESBORO', '37129', None, 'TN', 'US', 'Obstetrics & Gynecology', 'S', 'E'),
 (Decimal('1003200312'), 'CANNON', 'BRITTANY', None, 'PA-C', 'F', 'I', '979 E 3RD ST STE G', None, 'CHATTANOOGA', '37403', '2136', 'TN', 'US', 'Physician Assistant', 'S', 'E'),
 (Decimal('1003202292'), 'WHITE', 'GRETCHEN', None, 'FNP-BC', 'F', 'I', '300 STEAM PLANT RD', 'STE 300', 'GALLATIN', '37066', '3032', 'TN', 'US', 'Nurse Practitioner', 'S', 'E'),
 (Decimal('1003202540'), 'AJIT', 'RASMI', None, 'M.D', 'F', 'I', '7565 DANNAHER DR', None, 'POWELL', '37849', '4029', 'TN', 'US', 'Internal Medicine', 'S', 'N'),
 (Decimal('1003203134'), 'NAKAJIMA', 'ERICA', None, None, 'F', 'I', '1161 21ST AVE S', 'D3100 MEDICAL CENTER NORTH', 'NASHVILLE', '37232', '2358', 'TN', 'US', 'Student in an Organized Health Care Education/Training Program', 'T', 'E'),
 (Decimal('1003205857'), 'HEATH', 'CHASTITY', 'H', 'NP', 'F', 'I', '3950 NEW COVINGTON PIKE', 'SUITE 220', 'MEMPHIS', '38128', '2595', 'TN', 'US', 'Nurse Practitioner', 'S', 'E'),
 (Decimal('1003206657'), 'ALLEN', 'FLORIDA', None, 'NP', 'F', 'I', '3362 S 3RD ST', None, 'MEMPHIS', '38109', '2944', 'TN', 'US', 'Nurse Practitioner', 'S', 'E'),
 (Decimal('1003215500'), 'GILLILAND', 'MISTY', 'A', 'FNP', 'F', 'I', '979 E 3RD ST', 'SUITE B601', 'CHATTANOOGA', '37403', '2136', 'TN', 'US', 'Nurse Practitioner', 'S', 'E'),
 (Decimal('1003215997'), 'SHELTON', 'PRINCESS', None, 'FNP-BC', 'F', 'I', '1830 LINCOYA BAY DR', None, 'NASHVILLE', '37214', '2771', 'TN', 'US', 'Nurse Practitioner', 'S', 'E'),
 (Decimal('1003216623'), 'WEBB', 'RACHEL', 'B', 'MS, NP-C', 'F', 'I', '281 N. LYERLY ST.', 'SUITE 200', 'CHATTANOOGA', '37404', None, 'TN', 'US', 'Nurse Practitioner', 'S', 'E'),
 (Decimal('1003220039'), 'EDWARDS', 'JEREMY', 'A', 'DDS', 'M', 'I', '1930 ALCOA HWY', 'A-335', 'KNOXVILLE', '37920', '1500', 'TN', 'US', 'Student in an Organized Health Care Education/Training Program', 'T', 'N'),
 (Decimal('1003224155'), 'CALLAHAN', 'JANICE', None, 'FNP', 'F', 'I', '321 BILLINGSLY CT STE 6', None, 'FRANKLIN', '37067', '6445', 'TN', 'US', 'Nurse Practitioner', 'S', 'E'),
 (Decimal('1003230350'), 'HAN', 'KYONG', None, 'PHD', 'F', 'I', '6401 POPLAR AVE STE 420', None, 'MEMPHIS', '38119', '4806', 'TN', 'US', 'Psychologist, Clinical', 'S', 'N'),
 (Decimal('1003232539'), 'RADCLIFFE', 'EMILY', 'A', 'FNP', 'F', 'I', '9333 PARK WEST BLVD', None, 'KNOXVILLE', '37923', '4341', 'TN', 'US', 'Nurse Practitioner', 'S', 'E'),
 (Decimal('1003232927'), 'HIATT', 'EMILY', 'A', 'FNP-BC', 'F', 'I', '3310 W END AVE', 'SUITE 590', 'NASHVILLE', '37203', '1028', 'TN', 'US', 'Nurse Practitioner', 'S', 'E'),
 (Decimal('1003234006'), 'ADEMOSU', 'MOSUNMOLA', 'A', 'MD', 'F', 'I', '355 NEW SHACKLE ISLAND RD', None, 'HENDERSONVILLE', '37075', None, 'TN', 'US', 'Hospitalist', 'S', 'E'),
 (Decimal('1003235078'), 'ABBLITT', 'WILLIAM', 'P', 'M.D.', 'M', 'I', 'MEDICAL CENTER EAST SOUTH TOWER', 'STE 4200', 'NASHVILLE', '37232', '8774', 'TN', 'US', 'Student in an Organized Health Care Education/Training Program', 'T', 'E'),
 (Decimal('1003235243'), 'BALASIRE', 'OLUWASEYI', 'S', 'M.D.', 'M', 'I', '900 E OAK HILL AVE', None, 'KNOXVILLE', '37917', '4505', 'TN', 'US', 'Internal Medicine', 'S', 'E'),
 (Decimal('1003235391'), 'SOCHACKI', 'ANDREW', 'L', 'M.D.', 'M', 'I', 'VANDERBILT UNIVERSITY DEPARTMENT OF MEDICINE', 'D-3100, MEDICAL CENTER NORTH', 'NASHVILLE', '37232', '2358', 'TN', 'US', 'Internal Medicine', 'S', 'E'),
 (Decimal('1003235664'), 'WELCH', 'CAITLIN', None, 'MD', 'F', 'I', '1161 21ST AVE S', 'D-3100 MEDICAL CENTER NORTH', 'NASHVILLE', '37232', '0011', 'TN', 'US', 'Student in an Organized Health Care Education/Training Program', 'T', 'E'),
 (Decimal('1003236217'), 'TRAN', 'CHRISTINA', 'B', 'MD', 'F', 'I', '5366 MENDENHALL MALL', None, 'MEMPHIS', '38115', '4505', 'TN', 'US', 'Family Practice', 'S', 'E'),
 (Decimal('1003248444'), 'MAYS', 'DANIEL', 'R', 'PA-C', 'M', 'I', '2681 ANDERSONVILLE HWY', None, 'CLINTON', '37716', '6706', 'TN', 'US', 'Physician Assistant', 'S', 'E'),
 (Decimal('1003248733'), 'OSBORNE', 'JENNIFER', 'B', 'FNP-BC', 'F', 'I', '776 WEATHERLY DR STE B', None, 'CLARKSVILLE', '37043', '8941', 'TN', 'US', 'Nurse Practitioner', 'S', 'E'),
 (Decimal('1003251166'), 'EADDY', 'ANDRE', 'C', 'M.D., PH.D.', 'M', 'I', 'VANDERBILT UNIVERSITY DEPARTMENT OF MEDICINE', 'D-3100, MEDICAL CENTER NORTH', 'NASHVILLE', '37232', '0001', 'TN', 'US', 'Student in an Organized Health Care Education/Training Program', 'T', 'E'),
 (Decimal('1003256389'), 'SHERRELL', 'SYDNEY', 'W', 'NP', 'F', 'I', '1926 ALCOA HWY', 'BLDG. F, SUITE 210', 'KNOXVILLE', '37920', '1545', 'TN', 'US', 'Nurse Practitioner', 'S', 'E'),
 (Decimal('1003256496'), 'WILSON', 'AMANDA', None, 'FNP', 'F', 'I', '472 W POPLAR AVE', '101', 'COLLIERVILLE', '38017', '2538', 'TN', 'US', 'Nurse Practitioner', 'S', 'E'),
 (Decimal('1003260191'), 'RUTLEDGE', 'CONNIE', None, 'APRN-CNP', 'F', 'I', '403 N STATE OF FRANKLIN RD', None, 'JOHNSON CITY', '37604', '6034', 'TN', 'US', 'Nurse Practitioner', 'S', 'E'),
 (Decimal('1003265539'), 'WAKEFIELD', 'DANIEL', None, 'M.D.', 'M', 'I', '920 MADISON AVE', 'SUITE 447', 'MEMPHIS', '38103', '3438', 'TN', 'US', 'Student in an Organized Health Care Education/Training Program', 'T', 'N'),
 (Decimal('1003267865'), 'KINGSLEY', 'ANTHONY', 'M', 'FNP', 'M', 'I', '2545 JACKSBORO PIKE', None, 'JACKSBORO', '37757', '4847', 'TN', 'US', 'Nurse Practitioner', 'S', 'E'),
 (Decimal('1003268053'), 'GABY', 'KELLIE', 'R', 'FNP-BC', 'F', 'I', '266 JOULE ST', None, 'ALCOA', '37701', '2422', 'TN', 'US', 'Nurse Practitioner', 'S', 'E'),
 (Decimal('1003270968'), 'BAKER', 'BRENT', None, None, 'M', 'I', '208 MEDICAL PARK BLVD', None, 'BRISTOL', '37620', '7343', 'TN', 'US', 'Student in an Organized Health Care Education/Training Program', 'T', 'E'),
 (Decimal('1003271529'), 'LAMB', 'MADELINE', 'K', 'FNP', 'F', 'I', '11416 GRIGSBY CHAPEL RD', 'STE 103', 'KNOXVILLE', '37934', '1770', 'TN', 'US', 'Nurse Practitioner', 'S', 'E'),
 (Decimal('1003273814'), 'WYATT', 'KATHERINE', 'E', 'APN', 'F', 'I', '2863 HIGHWAY 45 BYP', None, 'JACKSON', '38305', '3618', 'TN', 'US', 'Nurse Practitioner', 'S', 'E'),
 (Decimal('1003275132'), 'FLYNN', 'MICHAEL', 'P', 'PA-C', 'M', 'I', '501 20TH ST STE 503', None, 'KNOXVILLE', '37916', '1832', 'TN', 'US', 'Physician Assistant', 'S', 'E'),
 (Decimal('1003278672'), 'AXELRAD', 'MARY', None, None, 'F', 'I', '208 MEDICAL PARK BLVD', None, 'BRISTOL', '37620', '7343', 'TN', 'US', 'Student in an Organized Health Care Education/Training Program', 'T', 'N'),
 (Decimal('1003279589'), 'ANDERSON', 'GRANT', None, 'PA-C', 'M', 'I', '211 INDIAN LAKE BLOULEVARD', None, 'HENDERSONVILLE', '37075', None, 'TN', 'US', 'Physician Assistant', 'S', 'E'),
 (Decimal('1003283201'), 'HUDSON', 'ANNE', 'H', 'APN', 'F', 'I', '323 STEAM PLANT RD', None, 'GALLATIN', '37066', '3025', 'TN', 'US', 'Nurse Practitioner', 'S', 'E'),
 (Decimal('1003285305'), 'PRYOR', 'BRITTANY', 'L', 'APN', 'F', 'I', '6031 SHALLOWFORD RD STE 117', None, 'CHATTANOOGA', '37421', '1984', 'TN', 'US', 'Nurse Practitioner', 'S', 'E'),
 (Decimal('1003289612'), 'STYKE', 'KATIE', 'L', 'PA', 'F', 'I', '2240 SUTHERLAND AVE', 'SUITE 104', 'KNOXVILLE', '37919', '2333', 'TN', 'US', 'Physician Assistant', 'S', 'E'),
 (Decimal('1003290826'), 'WREDLING', 'SARAH', 'M', 'FNP', 'F', 'I', '4066 SUMMER AVE', None, 'MEMPHIS', '38122', '5225', 'TN', 'US', 'Nurse Practitioner', 'S', 'E')]

On the other hand, sqlalchemy plays nicely with pandas.

In [7]:
import pandas as pd

In [8]:
prescribers = pd.read_sql(query, con = engine)
prescribers.head()

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,nppes_provider_street2,nppes_provider_city,nppes_provider_zip5,nppes_provider_zip4,nppes_provider_state,nppes_provider_country,specialty_description,description_flag,medicare_prvdr_enroll_status
0,1.003000e+09,BLAKEMORE,ROSIE,K,FNP,F,I,TENNESSEE PRISON FOR WOMEN,3881 STEWARTS LANE,NASHVILLE,37243,0001,TN,US,Nurse Practitioner,S,N
1,1.003012e+09,CUDZILO,COREY,None,M.D.,M,I,2240 SUTHERLAND AVE,SUITE 103,KNOXVILLE,37919,2333,TN,US,Pulmonary Disease,S,E
2,1.003013e+09,GRABENSTEIN,WILLIAM,P,M.D.,M,I,1822 MEMORIAL DR,None,CLARKSVILLE,37043,4605,TN,US,Family Practice,S,E
3,1.003014e+09,OTTO,ROBERT,J,M.D.,M,I,2400 PATTERSON STREET SUITE 100,None,NASHVILLE,37203,2786,TN,US,Orthopedic Surgery,S,E
4,1.003018e+09,TODD,JOSHUA,W,M.D.,M,I,1819 W CLINCH AVE,SUITE 108,KNOXVILLE,37916,2435,TN,US,Cardiology,S,E

For much more information about SQLAlchemy and to see a more “Pythonic” way to execute queries, see Introduction to Databases in Python: https://www.datacamp.com/courses/introduction-to-relational-databases-in-python